# **Kenya Hack - Tanzania Tourism Prediction Challenge**
The dataset describes 6476 rows of up-to-date information on tourist expenditure collected by the National Bureau of Statistics (NBS) in Tanzania.The dataset was collected to gain a better understanding of the status of the tourism sector and provide an instrument that will enable sector growth.

The objective of this hackathon is to develop a machine learning model to predict what a tourist will spend when visiting Tanzania.The model can be used by different tour operators and the Tanzania Tourism Board to automatically help tourists across the world estimate their expenditure before visiting Tanzania

Below is the third winning solution to the hackathon.

In [ ]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/7e/c1/c1c4707013f9e2f8a96899dd3a87f66c9167d6d776a6dc8fe7ec8678d446/catboost-0.24.3-cp36-none-manylinux1_x86_64.whl (66.3MB)
     |████████████████████████████████| 66.3MB 56kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Installing collected packages: catboost
Successfully installed catboost-0.24.3

In [ ]:
# loading our datasets
train_df=pd.read_csv("Train.csv")
test_df=pd.read_csv("Test.csv")
sub_df=pd.read_csv("SampleSubmission.csv")
descp=pd.read_csv("VariableDefinitions.csv")

# Exploratory Data Analysis(EDA)
Here we try to understand our dataset in order to obtain insights from it so as to aid us while feature engineering our dataset

In [ ]:
# checking the first five rows of our train dataset
train_df.head()

          ID         country  ...                       most_impressing total_cost
0     tour_0      SWIZERLAND  ...                       Friendly People   674602.5
1    tour_10  UNITED KINGDOM  ...  Wonderful Country, Landscape, Nature  3214906.5
2  tour_1000  UNITED KINGDOM  ...                  Excellent Experience  3315000.0
3  tour_1002  UNITED KINGDOM  ...                       Friendly People  7790250.0
4  tour_1004           CHINA  ...                           No comments  1657500.0

[5 rows x 23 columns]

In [ ]:
# same case for our test dataset
test_df.head()

          ID  ...                       most_impressing
0     tour_1  ...                              Wildlife
1   tour_100  ...  Wonderful Country, Landscape, Nature
2  tour_1001  ...                           No comments
3  tour_1006  ...                       Friendly People
4  tour_1009  ...                       Friendly People

[5 rows x 22 columns]

In [ ]:
# viewing the size of both our dataset
print(train_df.shape)
print(test_df.shape)

(4809, 23)
(1601, 22)

In [ ]:
# checking if there are any missing values in our dataset
print(train_df.isnull().sum())

ID                          0
country                     0
age_group                   0
travel_with              1114
total_female                3
total_male                  5
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
payment_mode                0
first_trip_tz               0
most_impressing           313
total_cost                  0
dtype: int64

In [ ]:
# same case for our test dataset
print(test_df.isnull().sum())

ID                         0
country                    0
age_group                  0
travel_with              327
total_female               1
total_male                 2
purpose                    0
main_activity              0
info_source                0
tour_arrangement           0
package_transport_int      0
package_accomodation       0
package_food               0
package_transport_tz       0
package_sightseeing        0
package_guided_tour        0
package_insurance          0
night_mainland             0
night_zanzibar             0
payment_mode               0
first_trip_tz              0
most_impressing          111
dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB

In [ ]:
# combining both our train and test dataset to have one that we can clean both datasets
data=pd.concat([train_df,test_df],sort=False).reset_index(drop=True)
data.columns.tolist()

['ID',
 'country',
 'age_group',
 'travel_with',
 'total_female',
 'total_male',
 'purpose',
 'main_activity',
 'info_source',
 'tour_arrangement',
 'package_transport_int',
 'package_accomodation',
 'package_food',
 'package_transport_tz',
 'package_sightseeing',
 'package_guided_tour',
 'package_insurance',
 'night_mainland',
 'night_zanzibar',
 'payment_mode',
 'first_trip_tz',
 'most_impressing',
 'total_cost']

In [ ]:
# checking for missing values in our new dataset
data.isnull().sum()

ID                          0
country                     0
age_group                   0
travel_with              1441
total_female                4
total_male                  7
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
payment_mode                0
first_trip_tz               0
most_impressing           424
total_cost               1601
dtype: int64

In [ ]:
# Handling the missing values by filling 'None' throughout all instances
data.travel_with.fillna('None',inplace=True)
data.most_impressing.fillna('None',inplace=True)
# Handling the missing values by filling through the mean value of the entire column
data.total_female.fillna(data.total_female.mean(),inplace = True)
data.total_male.fillna(data.total_male.mean(),inplace = True)

In [ ]:
data.isnull().sum()

ID                          0
country                     0
age_group                   0
travel_with                 0
total_female                0
total_male                  0
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
payment_mode                0
first_trip_tz               0
most_impressing             0
total_cost               1601
dtype: int64

# Feature Engineering
Here we try to come up with new features from existing ones in order to improve on the training process of our dataset

in our first feature we try to point out wether the tourist travelled into Tanzania durring peak periods of the year such as holiday months. durring this times, tourism services are relatively expensive due to high demand.

The column on purpose of visit aids us in doing so.

In [ ]:
peak_period = []

for row in data.purpose:
  if row == 'Leisure and Holidays':
    peak_period.append(True)
  else:
    peak_period.append(False)

data['peak_period'] = peak_period

In our second feature, we try and isolate tourists from local African countries and those from other continents.
In the tourism sector, Prices for local tourists and those for international differ with great margin

In [ ]:
# we obtain a list on all countries to aid us in isolating african countries
data['country'].unique()

In [ ]:
is_African = []
african = ['SOUTH AFRICA', 'NIGERIA', 'RWANDA', 'MOZAMBIQUE', 'KENYA', 'ALGERIA', 'EGYPT','MALAWI', 
           'UGANDA', 'ZIMBABWE', 'ZAMBIA', 'CONGO', 'MAURITIUS', 'DRC', 'TUNISIA', 'ETHIOPIA','BURUNDI',
           'GHANA', 'NIGER', 'COMORO', 'ANGOLA', 'SUDAN', 'NAMIBIA', 'LESOTHO', 'IVORY COAST', 'MADAGASCAR',
           'DJIBOUT', 'MORROCO', 'BOTSWANA', 'LIBERIA', 'GUINEA', 'SOMALI']

for country in data['country']:
  if country in african:
    is_African.append(True)
  else:
    is_African.append(False)

data['is_african'] = is_African

In [ ]:
# Here we get two more features of the total number of people and the total number of nights spent
data["total_persons"] = data["total_female"] + data["total_male"]

data["total_nights_spent"] = data["night_mainland"] + data["night_zanzibar"]
# data["cost_per_person"] = data['total_cost']/data['total_persons']

**Label Encoding**

We now do some encoding techniques where by we perform label encoding first.
Label encoding involves converting labels into numeric form so as to have it into a machine-readable form.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['age_group'] = le.fit_transform(data['age_group'])
data['package_transport_int'] = le.fit_transform(data['package_transport_int'])
data['package_accomodation'] = le.fit_transform(data['package_accomodation'])
data['package_food'] = le.fit_transform(data['package_food'])
data['package_transport_tz'] = le.fit_transform(data['package_transport_tz'])
data['package_sightseeing'] = le.fit_transform(data['package_sightseeing'])
data['package_guided_tour'] = le.fit_transform(data['package_guided_tour'])
data['package_insurance'] = le.fit_transform(data['package_insurance'])
data['first_trip_tz'] = le.fit_transform(data['first_trip_tz'])
data['country'] = le.fit_transform(data['country'])
data['peak_period'] = le.fit_transform(data['peak_period'])
data['is_african'] = le.fit_transform(data['is_african'])

In [ ]:
columns_to_transform = ['tour_arrangement','travel_with','purpose','main_activity','info_source','most_impressing','payment_mode']
data = pd.get_dummies( data,columns = columns_to_transform,drop_first=True)

In [ ]:
data.head(2)

        ID  country  ...  payment_mode_Other  payment_mode_Travellers Cheque
0   tour_0      101  ...                   0                               0
1  tour_10      111  ...                   0                               0

[2 rows x 55 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6410 entries, 0 to 6409
Data columns (total 55 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ID                                                    6410 non-null   object
 1   country                                               6410 non-null   int64
 2   age_group                                             6410 non-null   int64
 3   total_female                                          6410 non-null   float64
 4   total_male                                            6410 non-null   float64
 5   package_transport_int                                 6410 non-null   int64
 6   package_accomodation                                  6410 non-null   int64
 7   package_food                                          6410 non-null   int64
 8   package_transport_tz                                  6410 non-null   int64
 9   package_sightseeing                                   6410 non-null   int64
 10  package_guided_tour                                   6410 non-null   int64
 11  package_insurance                                     6410 non-null   int64
 12  night_mainland                                        6410 non-null   float64
 13  night_zanzibar                                        6410 non-null   float64
 14  first_trip_tz                                         6410 non-null   int64
 15  total_cost                                            4809 non-null   float64
 16  peak_period                                           6410 non-null   int64
 17  is_african                                            6410 non-null   int64
 18  tour_arrangement_Package Tour                         6410 non-null   uint8
 19  travel_with_Children                                  6410 non-null   uint8
 20  travel_with_Friends/Relatives                         6410 non-null   uint8
 21  travel_with_None                                      6410 non-null   uint8
 22  travel_with_Spouse                                    6410 non-null   uint8
 23  travel_with_Spouse and Children                       6410 non-null   uint8
 24  purpose_Leisure and Holidays                          6410 non-null   uint8
 25  purpose_Meetings and Conference                       6410 non-null   uint8
 26  purpose_Other                                         6410 non-null   uint8
 27  purpose_Scientific and Academic                       6410 non-null   uint8
 28  purpose_Visiting Friends and Relatives                6410 non-null   uint8
 29  purpose_Volunteering                                  6410 non-null   uint8
 30  main_activity_Bird watching                           6410 non-null   uint8
 31  main_activity_Conference tourism                      6410 non-null   uint8
 32  main_activity_Cultural tourism                        6410 non-null   uint8
 33  main_activity_Diving and Sport Fishing                6410 non-null   uint8
 34  main_activity_Hunting tourism                         6410 non-null   uint8
 35  main_activity_Mountain climbing                       6410 non-null   uint8
 36  main_activity_Wildlife tourism                        6410 non-null   uint8
 37  main_activity_business                                6410 non-null   uint8
 38  info_source_Newspaper, magazines,brochures            6410 non-null   uint8
 39  info_source_Radio, TV, Web                            6410 non-null   uint8
 40  info_source_Tanzania Mission Abroad                   6410 non-null   uint8
 41  info_source_Trade fair                                6410 non-null   uint8
 42  info_source_Travel, agent, tour operator              6410 non-null   uint8
 43  info_source_inflight magazines                        6410 non-null   uint8
 44  info_source_others                                    6410 non-null   uint8
 45  most_impressing_Excellent Experience                  6410 non-null   uint8
 46  most_impressing_Friendly People                       6410 non-null   uint8
 47  most_impressing_Good service                          6410 non-null   uint8
 48  most_impressing_No comments                           6410 non-null   uint8
 49  most_impressing_None                                  6410 non-null   uint8
 50  most_impressing_Satisfies and Hope Come Back          6410 non-null   uint8
 51  most_impressing_Wonderful Country, Landscape, Nature  6410 non-null   uint8
 52  payment_mode_Credit Card                              6410 non-null   uint8
 53  payment_mode_Other                                    6410 non-null   uint8
 54  payment_mode_Travellers Cheque                        6410 non-null   uint8
dtypes: float64(5), int64(12), object(1), uint8(37)
memory usage: 1.1+ MB

In [ ]:
## convert float dtypes to int
data["total_female"] = data['total_female'].astype('int')
data["total_male"] = data['total_male'].astype('int')
data["night_mainland"] = data['night_mainland'].astype('int')
data["night_zanzibar"] = data['night_zanzibar'].astype('int')

In [ ]:
## separate data into train and test
train_df=data[data.total_cost.notnull()].reset_index(drop=True)
test_df=data[data.total_cost.isna()].reset_index(drop=True)

In [ ]:
print(train_df.shape)
print(test_df.shape)

(4809, 57)
(1601, 57)

# Modelling
Here is where we create a model that we'll train on with our training set so as to aid us in making our desired predictions.
we notice that we our hackathon is a linear regression problem hence we'll need to use a regression algorithm to solve it.
we used a catboost Regressor model to train and give our prediction.

In [ ]:

feat_cols = train_df.drop(["ID","total_cost"],1)
cols = feat_cols.columns
target=train_df["total_cost"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score

In [ ]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(train_df[cols],target, test_size=0.25, random_state = 42)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(3606, 55) (3606,)
(1203, 55) (1203,)

In [ ]:
from catboost import CatBoostRegressor
predictions = []
for i in range(10):
  # Training the model
  ct=CatBoostRegressor(iterations=1000, 
                    loss_function='MAE',
                    logging_level='Silent',
                    depth = i
                    )
  ct.fit(X_train, y_train)

  # Making predictions
  preds = ct.predict(X_test)
  predictions.append(preds)

# Averaging the preictions
preds = np.mean(predictions, axis = 0)

In [ ]:
# Model evaluation
from sklearn.metrics import mean_absolute_error 
mae = mean_absolute_error(y_test, preds)
print('Error {}'.format(mae))

Error 4654344.295227008

In [ ]:
# Doing our prediction.
sub = test_df[cols]
predictions_ct = ct.predict(sub)
submission_df = pd.DataFrame({'ID': test_df.ID, 'total_cost': predictions_ct})
submission_df.to_csv('ceY20.csv',index=False)